@import url(./normalize.css);

body {
  background-color: #efeede;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 450px;
}

#title {
  margin-bottom: 20px;
}

.choices-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.choice-button {
  background-color: #c4aa77;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 5px 3px black;
  cursor: pointer;
  color: black;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 1.3rem;
}

#result {
  margin-top: 15px;
}

@media only screen and (hover: hover) {
  .choice-button:hover {
    background-color: #ae9769;
  }
}
